/* @media (min-width: 550px)
.gh7uyir[class][class] {
    --breakpoint-grid_columns: 2;
} */

hr {
    border: none;
    border-top: 1px solid #E3E7EB;
    overflow: visible;
    text-align: center;
}

.a-menu {
    float: left;
    width: 190px;
    height: 400px;
    padding: 25px;
    margin: 10px;
    background-color: white;
    border: 0.5px solid rgba(0,0,0,0.08);
    border-radius: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
}

.a-menu:hover {
    transform: scale(1.05);
}

.menu-img {
    width: 100%;
    height: auto;
}

.menu-about {
    font-size: 9pt;
    color: gray;
}

.menu-txt-div {
    /* background-color: rgb(202, 202, 202); */
}