.service-list-div {
    /* margin-left: auto; */
    align-items: center;
    /* margin-right: 20%; */
}

.service-btn {
    color: grey;
    background-color: transparent;
    border-color: transparent;
    font-size: large;
    margin: 20px;
}

.service-btn:hover {
    color: black;
    text-decoration: underline;
    text-underline-position: under;
}